
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<div class="container">
    <h1>
        Products Features
    </h1>
    {% for product in products %}
        <div class="container my-5">
            <div class="card">
                <div class="row">
                    <span>{{ product.feature_image }}</span> 
                    <span>{{ product.product_name }}</span>
                    <span>{{ product.short_descriptions }}</span>
                    <span>{{ product.alter_text}}</span> 
                    <span>{{ product.regular_price}}</span>
                    <span>{{ product.new_price }}</span>
                </div>
            </div>
            <a href="{% url '' %}" class="btn btn-lg btn-outline-primary text-uppercase"><i class="fas fa-shoping-cart"></i>Add to Cart</a>

        </div>
    {% endfor %}
</div>
